<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/master.css">
    <title>EduTrack: <%= name %></title>
    <script src="/static_functions.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="app">My Pages</a></li>
            <li><a href="logout">Log out</a></li>
        </ul>
    </nav>

    <% if (courseData){ %>
        <script>
            const COURSEDATA = <%- courseData %>;
        </script>
    <%}%>
    <h1><%-courseData.name %></h1>
    <h1>All Registered Sessions</h1> 

    <% if (courseData.sessions) { %>
        <ul>
            <% for(let date in courseData.sessions) { %> 
                <% courseData.sessions[date].forEach((entry) => {%>
                   <li>
                    <%- date %>
                    <%- entry.time %>,
                    <%- entry.typeOfStudy %>,
                    <%- entry.gradeSess %>,
                    <%- entry.health %> 
                   </li> 
                <% }); %>

            <% } %>
        </ul>
    <% } else { %>
        <p>No sessions registered.</p>
    <% } %>
    <%- include("AppModules/Session"); %>
    <footer class="footer">
        <p>Ideas on improvements? Email us at <a href="mailto:edutrack@gmail.com">edutrack@gmail.com</a></p>
    </footer> 
</body>
</html>