<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/master.css">
    <title>EduTrack: <%= name %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"></script>
    <script src="/static_functions.js"></script>
    <script type="module" src="/graph_logic.js"></script>
</head>
<body class="centeredItems">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/app">My Pages</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </nav>

    <% if (courseData){ %>
        <script>
            // *OBS* Detta är viktigt för graferna.
            const COURSEDATA = <%- courseData %>;
        </script>
    <%}%>
    <h1><%-courseData.name %></h1>
    <h1>All Registered Sessions</h1> 
    
    <!-- TODO: Hitta på ett mer visuellt sätt att presentera datan på.
    - Vad gör vi om Chart.js inte kan laddas av någon anledning?
    https://www.chartjs.org/docs/latest/general/data-structures.html
    -->
    
    <!-- Graph.js grafen: Alltid en canvas-tag i en div-tag. Sätt ett id på canvasen.-->
    <div style="width: 800px;"><canvas id="graftest"></canvas></div>
    <div style="width: 400px;"><canvas id="graftest2"></canvas></div>
    <% if (courseData.sessions) { %>
        <ul>
            
            <% for(let date in courseData.sessions) { %> 
                <% courseData.sessions[date].forEach((entry) => {%>
                   <li>
                    <%- date %>
                    <%- entry.time %>,
                    <%- entry.typeOfStudy %>,
                    <%- entry.gradeSess %>,
                    <%- entry.health %> 
                   </li> 
                <% }); %>

            <% } %>
        </ul>
    <% } else { %>
        <p>No sessions registered.</p>
    <% } %>

    <!-- TODO: Stylea add session knappen -->
     <p>Have you studied today?</p>
     <button onclick="togglePopup()">Add study session</button>
    <!-- TODO: Stylea popup rutan -->
    <div id="SessionPopupContainer" class="hidden">
        <div id="SessionPopup">
            <%- include("AppModules/Session"); %>
        </div>
    </div>

    <script>
        let container = document.querySelector("#SessionPopupContainer");
        container.addEventListener("click", (e) => {
            if(e.target !== container)
                return false;
            container.classList.toggle("hidden");
        });

        function togglePopup(){
            document.getElementById("SessionPopupContainer").classList.toggle("hidden");
        }
    </script>
    <footer class="footer">
        <p>Ideas on improvements? Email us at <a href="mailto:edutrack@gmail.com">edutrack@gmail.com</a></p>
    </footer> 
</body>
</html>