<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTrack</title>
    <link rel="stylesheet" href="/master.css">
    <script src="/static_functions.js"></script>
    <script>
    </script>
</head>
<body>
  <div class="header-container">
    <!-- Heading Section (Top-left aligned) -->
    <div class="heading-section">
        <h2>EduTracker - Track, Analyze, and Improve Study Habits</h2>
        
    </div>

    <!-- Navigation (Horizonally aligned beside the heading) -->
    <%- include("CommonModules/Nav2") %>
  </div>
</body>
<body class="centeredItems"></body>
    <% if (courses){ %>
        <script>
            // Såhär sparas hämtad kursdata så att klienten skulle kunna använda den i en javascript kontext
            // Isådanafall så får vi tåla VSCode error meddelandet.
            const DATA_COURSE = [<%- courses %>];
        </script>
    <%}%>
    
    <h1>Welcome to EduTrack <%= name %>!</h1>

    <h2>My Courses</h2>
    
  <select name="course" id="course">
    <% courses.forEach(function(course) { %>
      <option value="<%- course.courseId %>"><%= course.name %></option>
    <% }); %>
  </select>
  <button onclick="Coursepage()">Pick Course</button>

  <script>
    function Coursepage() {
        const page = document.getElementById("course").value
        window.location = "app/course_page?course="+page;
    }
  </script>
    
    <!-- TODO: Flytta gränssnittet för att lägga till en session till CoursePage -->
    <!-- TODO: Sätt hit en lista med länkar till alla kurssidor som användaren är registrerad på -->
    <footer class="footer">
        <p>Ideas on improvements? Email us at <a href="mailto:edutrack@gmail.com">edutrack@gmail.com</a></p>
    </footer>    
</body>
</html>