<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTrack</title>
    <link rel="stylesheet" href="/master.css">
    <script src="/static_functions.js"></script>
    
</head>
<body>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/app/course_registration">Register to course</a></li>
          <li><a href="logout">Log out</a></li>
          
      </ul>
  </nav>
  
</body>
<body class="centeredItems"></body>
    <% if (courses){ %>
        <script>
            // Såhär sparas hämtad kursdata så att klienten skulle kunna använda den i en javascript kontext
            // Isådanafall så får vi tåla VSCode error meddelandet.
            const DATA_COURSE = [<%- courses %>];
        </script>
    <%}%>
    
    <h1>Welcome to EduTrack <%= name %>!</h1>

    <h2>My Courses</h2>
    
    <div class="courses-container">
      <% courses.forEach(function(course) { %>
        <div class="course-box" onclick="Coursepage('<%- course.courseId %>')">
          <h3><%= course.name %></h3>
          <p><%= course.description %></p> <!-- Optional description -->
        </div>
      <% }); %>
    </div>
  
    <script>
      function Coursepage(courseId) {
          window.location = "app/course_page?course=" + courseId;
      }
    </script>
    
    <footer class="footer">
        <p>Ideas on improvements? Email us at <a href="mailto:edutrack@gmail.com">edutrack@gmail.com</a></p>
    </footer>    
</body>
</html>